.container
  .hero-unit
    h2 Welcome!
    p This is a NodeJS Application using Express web framework and a little Chat implementation
    br
    br
    a.btn.btn-primary.btn-large(href="chatroom") Lets chat! >>